.pay-button {
  width: 320px;
  height: 44px;
  margin-top: 30px;
  padding: auto;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  border-radius: 22px;
  // overflow: hidden;
  .button {
    width: 276px;
    height: 44px;
    background: linear-gradient(180deg, #bc9cff, #8ba4f9);
    border: none;
    border-radius: 22px 0 0 22px;
  }
  .arrow {
    @include Material(normal, 24px, 24px);
    color: white;
    background-color: transparent;
    border: none;
    width: 44px;
    height: 44px;
    background: linear-gradient(180deg, #bc9cff, #8ba4f9);
    border: none;
    border-radius: 0 22px 22px 0;
  }
  &::after {
    content: "перейти к оплате";
    @include Montserrat(bold, 12px, 15px);
    position: absolute;
    text-transform: uppercase;
    color: white;
    width: 320px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
