include ../../mixins/advantage-item/advantage-item

.room-information
  h3 Сведения о номере
  +advantage-item("insert_emoticon", "Комфорт", "Шумопоглощающие стены")
  +advantage-item("location_city", "Удобство", "Окно в каждой из спален")
  +advantage-item("whatshot", "Уют", "Номер оснащён камином")