@import "/src/blocks/findroom-form/findroom-form.scss";
@import "/src/blocks/findroom/findroom__title.scss";

.findroom {
  width: 380px;
  height: 374px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
}
