style 
  include footer.css 
footer 
  .widgets 
    .widgets__main 
      include ..header/logo/logo.pug
      p.widgets__main__description Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .widgets__navigation 
    .widgets__about 
    .widgets__support 
    .widgets__subscribe
  .copyright-bar
    p.copyright-bar__copyright 
    .copyright-bar__social