@import "/src/scss/variables.scss";
@import "/src/scss/fonts.scss";
@import "/src/scss/scss-mixins.scss";
@import "/src/blocks/header/header.scss";
@import "/src/blocks/footer/footer";
@import "/src/blocks/footer/_creative/creative";

body {
  background: #e5e5e5;
  margin: 0;
  padding: 0;
  margin-top: 140px;
}

.logo-grey {
  position: absolute;
  left: 30px;
  top: 30px;
}

header {
  margin-bottom: 40px;
}

.menu__about {
  @include Montserrat(bold, 14px, 17px);
  color: $dark-shade-75;
}

footer {
  margin-bottom: 40px;
}

.footer-creative {
  margin-bottom: 40px;
}
