@import "../../logo/logo.scss";
@import "/src/blocks/footer/_creative/footer_creative__copyright.scss";
@import "/src/blocks/footer/_creative/footer_creative__social.scss";

.footer_creative {
  width: 768px;
  height: 367px;
  display: flex;
  padding: auto;
  background-color: #fff;
  box-shadow: 0px 10px 20px $dark-shade-5;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
