.advantges 
  .advantages__item 
    .advantages__icon
      span insert_emoticon
    .advantages__description 
      p.name Комфорт
      p.desc Шумопоглощающие стены
  .advantages__item 
    .advantages__icon
      span location_city
    .advantages__description 
      p.name Удобство
      p.desc Окно в каждой из спален