include ../../mixins/feedback/feedback
.room-reviews 
  .room-reviews__title
    h3 Отзывы посетителей номера
    p 2 отзыва
  +feedback("/commons/blocks/room-reviews/img/avatar1.png", "Мурад Сарафанов", "5 дней назад", "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.")
  +feedback("/commons/blocks/room-reviews/img/avatar2.png", "Патрисия Стёклышкова", "Неделю назад", "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент")