.range-slider {
  width: 266px;
  .title {
    display: flex;
    justify-content: space-between;
    h3 {
      @include Montserrat(bold, 12px, 15px);
      color: #1f2041;
      text-transform: uppercase;
      width: 100px;
      &.value {
        width: auto;
        color: rgba(31, 32, 65, 0.5);
      }
    }
  }

  #slider {
    margin-top: 20px;
    width: 266px;
    height: 6px;
    box-shadow: none;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 3px;
    .noUi-base {
      height: 6px;
      top: -1px;
      .noUi-connect {
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      }
      .noUi-handle {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid white;
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        right: -8px;
        top: -5px;
        box-shadow: none;
        &::before,
        &::after {
          display: none;
        }
      }
    }
  }
}
