@import "/src/scss/mixins/variables.scss";
@import "/src/scss/mixins/fonts.scss";
@import "/src/scss/mixins/scss-mixins.scss";
@import "/src/blocks/findroom/findroom.scss";
@import "/src/blocks/registration/registration.scss";
@import "/src/blocks/room-reservation/room-reservation.scss";
@import "/src/blocks/log-in/log-in.scss";
@import "/src/blocks/datepicker/datepicker.scss";
@import "/src/blocks/uikit-room-card/uikit-room-card.scss";

body {
  background-color: #e5e5e5;
}

.logo-grey {
  position: absolute;
  left: 30px;
  top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  // flex: ;
  margin: auto;
  align-items: center;
  box-sizing: border-box;
  width: 1200px;
  height: 1140px;
  margin-top: 130px;
}

.findroom,
.registration,
.room-reservation,
.log-in,
.datepicker-here {
  margin: 20px;
}
