@import "/src/blocks/feedback/feedback.scss";

.room-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 712px;
  height: 306px;
  &__head {
    margin-bottom: 20px;
    p {
      color: $dark-shade-50;
      @include Montserrat(normal, 14px, 14px);
    }
  }
  &__feedback {
    margin-bottom: 22px;
  }
}
