.text-fields {
  width: 320px;
  .default {
    margin-bottom: 20px;
  }
  .hover-focus {
    margin-bottom: 20px;
  }
  .dropdown {
    margin-bottom: 20px;
  }
  .masked {
    margin-bottom: 40px;
  }
  .date-dropdown {
    margin-bottom: 40px;
  }
  .filter-date-dropdown {
    margin-bottom: 40px;
  }
}
