.dropdown-rooms {
  .dropdown {
    width: 266px;
    height: 64px;
    margin-bottom: 20px;
    &__title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-bottom: 5px;
      &__left {
        @include Montserrat(bold, 12px, 15px);
        text-transform: uppercase;
        color: #1f2041;
      }
      &__right {
        @include Montserrat(normal, 12px, 15px);
        text-transform: uppercase;
        color: rgba(31, 32, 65, 0.5);
      }
    }
    & > .iqdropdown {
      border: 1px solid rgba(31, 32, 65, 0.25);
      height: 44px;
      width: 266px;
      &.menu-open {
        @include LineNone();
        border: 1px solid rgba(31, 32, 65, 0.5);
      }
    }
  }
}
