@import "/src/blocks/radio-buttons__block/radio-buttons__block.scss";

.radio-buttons {
  width: 220px;
  h3 {
    @include Montserrat(bold, 12px, 15px);
    text-transform: uppercase;
    color: #1f2041;
    margin-bottom: 16px;
  }
}
