@import "/src/blocks/radio-button/radio-button.scss";

.radio-buttons {
  width: 220px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__title {
    margin-bottom: 16px;
  }
}
