include ../radio-button/radio-button

.radio-buttons 
  .head
    h3.title.radio-buttons__title radio buttons
  +radio-button("Мужчина", "radio-buttons__radio-button")
  +radio-button("Женщина", "radio-buttons__radio-button")