@import "../widgets/widgets.scss";
@import "../copyright-bar/copyright-bar.scss";

footer {
  width: 100%;
  min-height: 443px;
  background: $background;
}

.footer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
