include ../bullet-list/bullet-list

.bullet
  .head
    h3.title.bullet__title bullet list 
  +bullet-list("bullet__bullet-list", "Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00")