.pagination {
  &__title {
    margin-bottom: 16px;
  }
  &__block {
    width: 240px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__pages {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    & > p {
      width: 40px;
      cursor: pointer;
    }
  }

  p {
    @include Montserrat(normal, 12px, 15px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__start {
    width: 40px;
    height: 100%;
    border: none;
    border-radius: 20px;
    background: linear-gradient(180deg, $purple 0%, $purple2 100%);
    color: $text-dark-bcg;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    p {
      @include Montserrat(bold, 12px, 15px);
    }
  }
  &__arrow {
    width: 40px;
    height: 100%;
    border: none;
    border-radius: 20px;
    background: linear-gradient(180deg, $green 0%, $green2 100%);
    color: $text-dark-bcg;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    p {
      @include Material(normal, 24px, 20px);
    }
  }
  &__description {
    width: 100%;
    height: 25px;
    p {
      color: $dark-shade-75;
      @include Montserrat(normal, 14px, 24px);
    }
  }
}
