@import "/src/scss/mixins/variables.scss";
@import "/src/scss/mixins/fonts.scss";
@import "/src/scss/mixins/scss-mixins.scss";
@import "/src/blocks/header/header.scss";
@import "/src/blocks/footer/footer.scss";
@import "/src/blocks/log-in/log-in.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/src/img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .log-in {
    margin-bottom: 163px;
    margin-top: 163px;
  }
}

.footer {
  border-top: none;
}
