@import "/src/scss/mixins-pages/mixins-sign-in.scss";



.container_sign-in-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/src/img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .log-in {
    margin-bottom: 163px;
    margin-top: 163px;
  }
}

.footer {
  border-top: none;
}
