include ../checkbox-buttons/checkbox-buttons
include ../uikit-radio-buttons/uikit-radio-buttons
include ../toggles/toggles
include ../uikit-like-button/uikit-like-button
include ../rate-button/rate-button