.types
  .types__item
    .types__name 
      h1 H1
    .types__example
      h1 This one is the sub-section or widget title
  .types__item
    .types__name 
      h2 H2
    .types__example
      h2 Next one is the item title inside widgets
  .types__item
    .types__name 
      h3 H3
    .types__example
      h3 This is a label or CTA text
  .types__item
    .types__name 
      p Body
    .types__example
      p This is the body text which is used for most of the design, like paragraphs, lists, etc.