include ../advantage/advantage

.room-information
  h3 Сведения о номере
  +advantage("insert_emoticon", "Комфорт", "Шумопоглощающие стены", "room-information__advantage")
  +advantage("location_city", "Удобство", "Окно в каждой из спален", "room-information__advantage")
  +advantage("whatshot", "Уют", "Номер оснащён камином", "room-information__advantage")