@import "/src/blocks/advantages/advantage.scss";

.room-information {
  max-width: 280px;
  height: auto;
  h3 {
    @include Montserrat(bold, 19px, 23px);
    color: #1f2041;
  }
  &__advantage:last-child {
    border-bottom: none;
  }
}
