@import "/src/blocks/advantage/advantage.scss";

.room-information {
  max-width: 280px;
  height: auto;
  &__advantage {
    border-bottom: 1px solid;
    border-color: $dark-shade-10;
    &:last-child {
      border-bottom: none;
    }
  }
}
