include ../../pug/advantage__item

.room-information
  h3 Сведения о номере
  +advantage__item("insert_emoticon", "Комфорт", "Шумопоглощающие стены")
  +advantage__item("location_city", "Удобство", "Окно в каждой из спален")
  +advantage__item("whatshot", "Уют", "Номер оснащён камином")