head
style 
  include date-dropdown.css
.date-dropdown 
  .date-dropdown__box
    h3 date dropdown
    .date-dropdown__box__field
      input.from(type='text' value="ДД.ММ.ГГГГ" name="from")
  .date-dropdown__box
    h3 date dropdown
    .date-dropdown__box__field
      input.to(type="text" value="ДД.ММ.ГГГГ" name="to")