.room-reservation 
  .room-reservation__title 
    .room-reservation__number 
      h3 №
      h1 888
      h3.pink люкс
    .room-reservation__price 
      p.bold 9 990₽
      p в сутки
  include ../findroom-form/findroom-form