include ../../mixins/date-dropdown-mixin/date-dropdown-mixin
.room-reservation 
  .room-reservation__title 
    .room-reservation__number 
      h3 №
      h1 888
      h3.pink люкс
    .room-reservation__price 
      p.bold 9 990₽
      p в сутки
  .room-reservation__form 
    +date-dropdown_box("Прибытие")(class="from" value="ДД.ММ.ГГГГ" type="text" id="btn_1")
    +date-dropdown_box("Выезд")(class="to" value="ДД.ММ.ГГГГ" type="text" id="btn_2")
