include ../../mixins/date-dropdown-mixin/date-dropdown-mixin

.date-dropdown
  +date-dropdown_box("date dropdown")(class="from" value="ДД.ММ.ГГГГ" type="text" id="btn_from")
  +date-dropdown_box("date dropdown")(class="to" value="ДД.ММ.ГГГГ" type="text" id="btn_to")