.date-dropdown
  .date-dropdown_box
    h3 date dropdown
    form.date-dropdown_box_field
      input.from(type='text', value='ДД.ММ.ГГГГ')
      button#btn_from(type="button")
        img(src='/commons/blocks/findroom-form/img/expand_more.svg')
  .date-dropdown_box
    h3 date dropdown
    form.date-dropdown_box_field
      input.to(type='text', value='ДД.ММ.ГГГГ')
      button#btn_to(type="button")
        img(src='/commons/blocks/findroom-form/img/expand_more.svg')