include ../../mixins/date-dropdown-mixin/date-dropdown-mixin

.date-dropdown
  +date-dropdown_box("date dropdown", "from")(class="doubleDatepicker" value="ДД.ММ.ГГГГ" type="text" id="btn_from")
  +date-dropdown_box("date dropdown", "to")(class="doubleDatepicker" value="ДД.ММ.ГГГГ" type="text" id="btn_to")