.rate-button
  h3 rate button 
  .rating-area 
    input#star-5(type="radio" name="rating" value="5")
    label(for="star-5" title="Оценка 5") 
    input#star-4(type="radio" name="rating" value="4")
    label(for="star-4" title="Оценка 4") 
    input#star-3(type="radio" name="rating" value="3")
    label(for="star-3" title="Оценка 3") 
    input#star-2(type="radio" name="rating" value="2")
    label(for="star-2" title="Оценка 2") 
    input#star-1(type="radio" name="rating" value="1")
    label(for="star-1" title="Оценка 1") 

  .rating-area
    input#star-5-1(type="radio" name="rating-2" value="5")
    label(for="star-5-1" title="Оценка 5") 
    input#star-4-1(type="radio" name="rating-2" value="4")
    label(for="star-4-1" title="Оценка 4") 
    input#star-3-1(type="radio" name="rating-2" value="3")
    label(for="star-3-1" title="Оценка 3") 
    input#star-2-1(type="radio" name="rating-2" value="2")
    label(for="star-2-1" title="Оценка 2") 
    input#star-1-1(type="radio" name="rating-2" value="1")
    label(for="star-1-1" title="Оценка 1") 