.dropdown-rooms {
  .dropdown {
    width: 266px;
    height: 64px;
    margin-bottom: 20px;
    & > .iqdropdown {
      border: 1px solid $dark-shade-25;
      height: 44px;
      width: 266px;
      &.menu-open {
        @include LineNone();
        border: 1px solid $dark-shade-50;
      }
    }
  }
}
