head
  link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
  link(rel='stylesheet', href='/resources/demos/style.css')
  script(src='https://code.jquery.com/jquery-1.12.4.js')
  script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
  script.
    $( function() {
      var dateFormat = "mm/dd/yy",
        from = $( ".datepicker" )
          .datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1
          })
          .on( "change", function() {
            to.datepicker( "option", "minDate", getDate( this ) );
          }),
        to = $( ".datepicker" ).datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1
        })
        .on( "change", function() {
          from.datepicker( "option", "maxDate", getDate( this ) );
        });
      function getDate( element ) {
        var date;
        try {
          date = $.datepicker.parseDate( dateFormat, element.value );
        } catch( error ) {
          date = null;
        }
        return date;
      }
    });
style 
  include filter-date-dropdown.css
.filter-date-dropdown 
      h3 filter date dropdown
      .filter-date-dropdown__field
        input.datepicker(type='text', data-range='true', data-multiple-dates-separator=' - ', value="ДД.ММ.ГГГГ")