head
  link(rel="stylesheet", href="/pug/UIKit/form-elements/text-fields/filter-date-dropdown/dist/css/datepicker.min.css")
style 
  include filter-date-dropdown.css
.filter-date-dropdown 
      h3 filter date dropdown
      .filter-date-dropdown__field
        input#calendar(type='text' value="ДД.ММ.ГГГГ")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
script(src="/pug/UIKit/form-elements/text-fields/filter-date-dropdown/dist/js/datepicker.min.js")
script.
  $(function() {
    $('#calendar').datepicker({
      //- timepicker: true,
      //- minHours: 9,
      //- maxHours: 17,
      //- minutesStep: 10,
      range: true,
      multipleDatesSeparator: " - ",
      clearButton: true,
      //- autoClose: true,
      minDate: new Date()
    });
    var myDatepicker = $('#calendar').datepicker().data('datepicker');
    myDatepicker.show();

  });
//- , data-range='true', data-multiple-dates-separator=' - ', 