@import "/src/blocks/copyright-bar/copyright-bar__social.scss";
@import "/src/blocks/copyright-bar/copyright-bar__container.scss";

.copyright-bar {
  height: 70px;
  width: 100%;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px $dark-shade-5;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #e5e5e5;
}
