.social {
  display: flex;
  align-items: center;
  a {
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    &:last-child {
      margin-right: 0;
    }
    img {
      color: linear-gradient(180deg, #bc9cff, #8ba4f9);
    }
  }
}
