style 
  include types.css 
.types
  .types__item
    .name 
      h1 H1
    .example
      h1 This one is the sub-section or widget title
  .types__item
    .name 
      h2 H2
    .example
      h2 Next one is the item title inside widgets
  .types__item
    .name 
      h3 H3
    .example
      h3 This is a label or CTA text
  .types__item
    .name 
      p Body
    .example
      p This is the body text which is used for most of the design, like paragraphs, lists, etc.