.toggle 
  h3 toggle
  label.toggle__container
    input(type='checkbox')     
    span.toggle__checkmark
    p Получать спецпредложения
  label.toggle__container 
    input(type='checkbox')
    span.toggle__checkmark
    p Получать спецпредложения