.radio-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked ~ .radio-button__checkmark {
      border: 1px solid $purple;
      &::after {
        display: block;
      }
    }
    &:checked ~ p {
      color: $dark-shade-75;
    }
  }
  &__checkmark {
    width: 20px;
    height: 20px;
    display: block;
    background: $background;
    border: 1px solid $dark-shade-25;
    box-sizing: border-box;
    border-radius: 50%;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 3px;
      top: 3px;
      width: 12px;
      height: 12px;
      border: none;
      border-radius: 50%;
      background: linear-gradient(180deg, $purple 0%, $purple2 100%);
    }
  }
  p {
    @include Montserrat(normal, 14px, 24px);
    color: $dark-shade-50;
    margin-left: 10px;
  }
}
