include ../../pug/checkbox-button

.checkbox-buttons
  h3 checkbox buttons 
  +checkbox-button("checkbox-buttons__checkbox-button", "Можно курить")
  +checkbox-button("checkbox-buttons__checkbox-button", "Можно с питомцами")
  +checkbox-button("checkbox-buttons__checkbox-button", "Можно пригласить гостей (до 10 человек)")  