include ../checkbox-button/checkbox-button

.checkbox-buttons
  .head
    h3.title.checkbox-buttons__title checkbox buttons 
  +checkbox-button("checkbox-buttons__checkbox-button", "Можно курить")
  +checkbox-button("checkbox-buttons__checkbox-button", "Можно с питомцами")
  +checkbox-button("checkbox-buttons__checkbox-button", "Можно пригласить гостей (до 10 человек)")  