@import "/src/blocks/checkbox-button/checkbox-button.scss";

.checkbox-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 222px;
  &__title {
    margin-bottom: 16px;
  }
}
