@import "/src/scss/variables.scss";
@import "/src/scss/fonts.scss";
@import "/src/scss/scss-mixins.scss";
@import "/src/blocks/header/header.scss";
@import "/src/blocks/footer/footer.scss";
@import "/src/pages/search-room/item-quantity-dropdown.min.css";
@import "/src/blocks/filter-date-dropdown/dist/css/datepicker.min.css";
@import "/src/blocks/dropdown/dropdown.scss";
@import "/src/scss/datepicker-style.scss";
@import "/src/blocks/range-slider/range-slider.scss";
@import "/src/scss/checkbox-buttons.scss";
@import "/src/scss/rich-checkbox-button.scss";
@import "/src/blocks/pagination/pagination.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  // background-color: cadetblue;
}

main {
  width: 1160px;
  height: 1350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  .sidebar {
    width: 266px;
    height: 100%;
    margin-top: 30px;
    .date-dropdown {
      &__box {
        width: 266px;
        height: 65px;
        margin-bottom: 20px;
        h3 {
          @include Montserrat(bold, 12px, 15px);
          text-transform: uppercase;
          margin: 0;
        }
      }

      &__field {
        width: 100%;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        #btn-datepicker {
          display: flex;
          width: 44px;
          height: 44px;
          cursor: pointer;
          box-sizing: border-box;
          text-align: center;
          align-items: center;
          justify-content: center;
          border: none;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          background-color: white;
        }
        input {
          width: 222px;
          height: 44px;
          box-sizing: border-box;
          border: none;
          padding-left: 15px;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          @include Montserrat(normal, 14px, 18px);
          color: rgba(31, 32, 65, 0.75);
          @include LineNone();
        }
      }
    }
    .dropdown {
      margin-bottom: 30px;
      .iqdropdown {
        width: 266px;
      }
      h3 {
        margin: 0;
      }
    }
    .range-slider {
      margin-bottom: 30px;
      #slider {
        margin-bottom: 10px;
      }
      p {
        @include Montserrat(normal, 12px, 14px);
        color: rgba(31, 32, 65, 0.5);
        margin: 0;
      }
      h3 {
        margin: 0;
      }
    }
    .rules,
    .accessibility {
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      width: 222px;
      h3 {
        color: #1f2041;
        @include Montserrat(bold, 12px, 15px);
        text-transform: uppercase;
        margin-bottom: 17px;
      }
    }
    .accessibility {
      width: 266px;
      margin-top: 30px;
      margin-bottom: 20px;
    }
    .room-amenities {
      // margin-top: 30px;
      .dropdown {
        margin-bottom: 0;
      }
    }
    .additional {
      width: 266px;
      height: auto;
      margin-top: 10px;
      // position: relative;
      &__container {
        width: 100%;
        // height: 44px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @include Montserrat(bold, 12px, 15px);
        text-transform: uppercase;
        color: #1f2041;
        p {
          width: 222px;
        }
        input {
          opacity: 0;
          width: 0;
          height: 0;
          &:checked ~ .additional__checkmark::after {
            transform: rotate(225deg);
            transition: 0.5s cubic-bezier(0.4, 0, 0, 0.9);
          }
          &:checked ~ .additional__checkboxes {
            opacity: 1;
            // width: 100%;
            // height: 240px;
          }
          &:checked ~ .additional {
            height: 240px;
          }
          &:checked ~ .additional__container {
            height: 240px;
          }
        }
        .additional__checkmark {
          width: 44px;
          height: 44px;
          display: block;
          background: #ffffff;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          &::after {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            border-bottom: 2px solid rgba(31, 32, 65, 0.5);
            border-right: 2px solid rgba(31, 32, 65, 0.5);
            transform: rotate(45deg);
            transition: 0.5s cubic-bezier(0.4, 0, 0, 0.9);
          }
        }
      }
      &__checkboxes {
        opacity: 0;
        & label {
          & p {
            text-transform: none;
          }
        }
      }
    }
  }
  .container {
    width: 834px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @import "/src/scss/rating-area.scss";
    &__title {
      width: 100%;
      height: 80px;
      padding-top: 30px;
      padding-bottom: 20px;
      h1 {
        @include Montserrat(bold, 24px, 29px);
        color: #1f2041;
      }
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .room-card {
        width: 270px;
        height: 257px;
        background: #ffffff;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
        cursor: pointer;
        &:hover {
        }
        &__photo-888 {
          background-image: url(/src/blocks/room-card/img/room_1.png);
        }
        &__photo-840 {
          background-image: url(/src/blocks/room-card/img/room_2.png);
        }
        &__photo-980 {
          background-image: url(/src/blocks/room-card/img/room_3.png);
        }
        &__photo-856 {
          background-image: url(/src/blocks/room-card/img/room_4.png);
        }
        &__photo-740 {
          background-image: url(/src/blocks/room-card/img/room_5.png);
        }
        &__photo-982 {
          background-image: url(/src/blocks/room-card/img/room_6.png);
        }
        &__photo-678 {
          background-image: url(/src/blocks/room-card/img/room_7.png);
        }
        &__photo-450 {
          background-image: url(/src/blocks/room-card/img/room_8.png);
        }
        &__photo-350 {
          background-image: url(/src/blocks/room-card/img/room_9.png);
        }
        &__photo-666 {
          background-image: url(/src/blocks/room-card/img/room_10.png);
        }
        &__photo-444 {
          background-image: url(/src/blocks/room-card/img/room_11.png);
        }
        &__photo-352 {
          background-image: url(/src/blocks/room-card/img/room_12.png);
        }
        &__photo-888,
        &__photo-840,
        &__photo-980,
        &__photo-856,
        &__photo-740,
        &__photo-982,
        &__photo-678,
        &__photo-450,
        &__photo-350,
        &__photo-666,
        &__photo-444,
        &__photo-352 {
          overflow: hidden;
          background-size: 120%;
          background-position: 20% 70%;
          background-repeat: no-repeat;
          width: 100%;
          height: 151px;
          text-align: center;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          display: flex;
          justify-content: space-between;
          &::before {
            content: "chevron_left";
            @include Material(normal, 24px, 24px);
            color: #ffffff;
            // position: absolute;
            width: 42px;
            height: 151px;
            background: linear-gradient(
              90deg,
              rgba(0, 0, 0, 0.5) 0%,
              rgba(0, 0, 0, 0) 99.99%,
              rgba(255, 255, 255, 0) 100%
            );
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
          &::after {
            content: "chevron_left";
            float: right;
            @include Material(normal, 24px, 24px);
            color: #ffffff;
            width: 42px;
            height: 151px;
            // position: absolute;
            background: linear-gradient(
              90deg,
              rgba(0, 0, 0, 0.5) 0%,
              rgba(0, 0, 0, 0) 99.99%,
              rgba(255, 255, 255, 0) 100%
            );
            transform: matrix(-1, 0, 0, 1, 0, 0);
            display: flex;
            justify-content: center;
            align-items: center;
            // right: - 20px;
            cursor: pointer;
          }
        }
        &__slider {
          width: 41.25px;
          height: 7.5px;
          display: flex;
          justify-content: space-between;
          z-index: 1;
          margin-right: -27px;
          margin-bottom: 15px;
          margin-left: auto;
          margin-top: auto;
          span {
            display: block;
            width: 7.5px;
            height: 7.5px;
            border: 1px solid #ffffff;
            border-radius: 50%;
            box-sizing: border-box;
            filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
          }
          .filled {
            background: #ffffff;
          }
        }
        &__title {
          width: 230px;
          height: 30px;
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
          margin-bottom: 5px;
          align-items: baseline;
        }
        &__number {
          display: flex;
          align-items: baseline;
          h3 {
            color: #1f2041;
            @include Montserrat(bold, 14px, 17px);
            height: 20px;
          }
          h1 {
            color: #1f2041;
            @include Montserrat(bold, 19px, 23px);
            margin-left: 5px;
            margin-right: 2px;
            height: 20px;
          }
          .pink {
            color: #bc9cff;
            text-transform: uppercase;
            @include Montserrat(bold, 12px, 15px);
            height: 20px;
          }
        }
        &__price {
          display: flex;
          align-items: flex-end;
          p {
            color: rgba(31, 32, 65, 0.5);
            @include Montserrat(normal, 12px, 18px);
            height: 20px;
            margin: 0;
            padding: 0;
          }
          .bold {
            @include Montserrat(bold, 14px, 18px);
            margin-right: 5px;
          }
        }
        &__rating {
          width: 230px;
          height: auto;
          border-top: 1px solid rgba(31, 32, 65, 0.1);
          display: flex;
          justify-content: space-between;
          padding-top: 15px;
        }
        &__feedback {
          width: 90px;
          display: flex;
          justify-content: space-between;
          p {
            color: rgba(31, 32, 65, 0.5);
            @include Montserrat(normal, 14px, 18px);
            height: 20px;
            margin: 0;
            padding: 0;
          }
          .bold {
            @include Montserrat(bold, 14px, 18px);
            margin-right: 5px;
          }
        }
      }
    }
    .pagination {
      margin-top: 40px;
      h3 {
        display: none;
      }
    }
  }
}

.material-icons {
  font-family: "Material Icons";
  color: #bc9cff;
}

.footer {
  border-top: 1px solid rgba(31, 32, 65, 0.25);
}
