extends ../../templates/header-and-footer

append head 
  title Номера, которые мы для вас подобрали
  script(src="/commons/pages/search-room/search-room.js")
block container
  main 
    .sidebar 
      include ../../mixins/date-dropdown-mixin/date-dropdown-mixin
      +date-dropdown_box("Даты пребывания в отеле", "main-datepicker")(class="input" value="ДД.ММ.ГГГГ" id="btn-datepicker")
      include ../../mixins/iqdropdown/iqdropdown
      +iqdropdown('гости','', "guests", "", "Сколько гостей", 'guest1', 'guest2', 'guest3', 'Взрослые', "Дети", 'Младенцы')
      include ../../blocks/range-slider/range-slider
      include ../../mixins/checkbox-button/checkbox-button
      .rules 
        h3 правила дома
        +checkbox-button("Можно курить")
        +checkbox-button("Можно с питомцами")
        +checkbox-button("Можно пригласить гостей (до 10 человек)") 
      include ../../mixins/rich-checkbox-button/rich-checkbox-button
      .accessibility
        h3 доступность
        +rich-checkbox-button("Широкий коридор", "Ширина коридоров в номере не менее 91 см.")
        +rich-checkbox-button("Помощник для инвалидов", "На 1 этаже вас встретит специалист  и проводит до номера.")
      .room-amenities
        include ../../mixins/iqdropdown/iqdropdown
        +iqdropdown('удобства номера','', "rooms", "", "Выберите удобства", 'rooms1', 'rooms2', 'rooms3', 'Спальни', "Кровати", 'Ванные комнаты')
      .additional
        label.additional__container 
          p дополнительные удобства
          input#open(type='checkbox')     
          .additional__checkmark
          .additional__checkboxes
            +checkbox-button('Завтрак')
            +checkbox-button('Письменный стол')
            +checkbox-button('Стул для кормления')
            +checkbox-button('Кроватка')
            +checkbox-button('Телевизор')
            +checkbox-button('Шампунь')
            +checkbox-button('Телевизор')
            +checkbox-button('Шампунь')
    .container
      .container__title
        h1 Номера, которые мы для вас подобрали
      .container__content 
        include ../../mixins/room-card/room-card
        +room-card("888","9990","145","", "люкс")
        +room-card("840","9900","65","-1")
        +room-card("980","8500","35","-2", "люкс")
        +room-card("856","7300","19","-3")
        +room-card("740","6000","44","-4")
        +room-card("982","5800","56","-5")
        +room-card("678","5500","45","-6")
        +room-card("450","5300","39","-7")
        +room-card("350","5000","77","-8")
        +room-card("666","5000","25","-9")
        +room-card("444","5000","15","-10")
        +room-card("352","5000","55","-11")
      include ../../blocks/pagination/pagination