@import "/src/scss/mixins-pages/mixins-search-room";

// body {
//   // background-color: cadetblue;
// }

main {
  max-width: 1160px;
  min-height: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 70px;
  .sidebar {
    width: 266px;
    height: 100%;
    margin-top: 30px;
    .date-dropdown {
      &__box {
        width: 266px;
        height: 65px;
        margin-bottom: 20px;
        h3 {
          @include Montserrat(bold, 12px, 15px);
          text-transform: uppercase;
          margin: 0;
        }
      }

      &__field {
        width: 100%;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        #btn-datepicker {
          display: flex;
          width: 44px;
          height: 44px;
          cursor: pointer;
          box-sizing: border-box;
          text-align: center;
          align-items: center;
          justify-content: center;
          border: none;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          background-color: white;
        }
        input {
          width: 222px;
          height: 44px;
          box-sizing: border-box;
          border: none;
          padding-left: 15px;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          @include Montserrat(normal, 14px, 18px);
          color: rgba(31, 32, 65, 0.75);
          @include LineNone();
        }
      }
    }
    .dropdown {
      margin-bottom: 30px;
      .iqdropdown {
        width: 266px;
        margin-top: 5px;
      }
      h3 {
        margin: 0;
      }
    }
    .range-slider {
      margin-bottom: 30px;
      #slider {
        margin-bottom: 10px;
      }
      p {
        @include Montserrat(normal, 12px, 14px);
        color: rgba(31, 32, 65, 0.5);
        margin: 0;
      }
      h3 {
        margin: 0;
      }
    }
    .rules,
    .accessibility {
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      width: 222px;
      h3 {
        color: #1f2041;
        @include Montserrat(bold, 12px, 15px);
        text-transform: uppercase;
        margin-bottom: 17px;
      }
    }
    .accessibility {
      width: 266px;
      margin-top: 30px;
      margin-bottom: 20px;
    }
    .room-amenities {
      // margin-top: 30px;
      .dropdown {
        margin-bottom: 0;
      }
    }
    .additional {
      width: 266px;
      height: auto;
      margin-top: 10px;
      // position: relative;
      &__container {
        width: 100%;
        // height: 44px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @include Montserrat(bold, 12px, 15px);
        text-transform: uppercase;
        color: #1f2041;
        p {
          width: 222px;
        }
        input {
          opacity: 0;
          width: 0;
          height: 0;
          &:checked ~ .additional__checkmark::after {
            transform: rotate(225deg);
            transition: 0.5s cubic-bezier(0.4, 0, 0, 0.9);
          }
          &:checked ~ .additional__checkboxes {
            opacity: 1;
            // width: 100%;
            // height: 240px;
          }
          &:checked ~ .additional {
            height: 240px;
          }
          &:checked ~ .additional__container {
            height: 240px;
          }
        }
        .additional__checkmark {
          width: 44px;
          height: 44px;
          display: block;
          background: #ffffff;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          &::after {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            border-bottom: 2px solid rgba(31, 32, 65, 0.5);
            border-right: 2px solid rgba(31, 32, 65, 0.5);
            transform: rotate(45deg);
            transition: 0.5s cubic-bezier(0.4, 0, 0, 0.9);
          }
        }
      }
      &__checkboxes {
        opacity: 0;
        & label {
          & p {
            text-transform: none;
          }
        }
      }
    }
  }
  .container {
    max-width: 834px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;

    &__title {
      width: 100%;
      height: 80px;
      padding-top: 30px;
      padding-bottom: 20px;
      h1 {
        @include Montserrat(bold, 24px, 29px);
        color: #1f2041;
      }
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .room-card {
        &__photo-888 {
          background-image: url(/src/img/room-cards/room_1.png);
        }
        &__photo-840 {
          background-image: url(/src/img/room-cards/room_2.png);
        }
        &__photo-980 {
          background-image: url(/src/img/room-cards/room_3.png);
        }
        &__photo-856 {
          background-image: url(/src/img/room-cards/room_4.png);
        }
        &__photo-740 {
          background-image: url(/src/img/room-cards/room_5.png);
        }
        &__photo-982 {
          background-image: url(/src/img/room-cards/room_6.png);
        }
        &__photo-678 {
          background-image: url(/src/img/room-cards/room_7.png);
        }
        &__photo-450 {
          background-image: url(/src/img/room-cards/room_8.png);
        }
        &__photo-350 {
          background-image: url(/src/img/room-cards/room_9.png);
        }
        &__photo-666 {
          background-image: url(/src/img/room-cards/room_10.png);
        }
        &__photo-444 {
          background-image: url(/src/img/room-cards/room_11.png);
        }
        &__photo-352 {
          background-image: url(/src/img/room-cards/room_12.png);
        }
      }
    }
    .pagination {
      margin-top: 40px;
      h3 {
        display: none;
      }
    }
  }
}

.material-icons {
  font-family: "Material Icons";
  color: #bc9cff;
}

.footer {
  border-top: 1px solid rgba(31, 32, 65, 0.25);
}

@media (max-width: 1140px) {
  main {
    width: 860px;
    .container {
      max-width: 550px;
      &__content {
        width: 100%;
      }
    }
  }
}
@media (max-width: 865px) {
  main {
    width: 580px;
    .container {
      max-width: 270px;
      &__title {
        height: 140px;
      }
      &__content {
        width: 100%;
      }
    }
  }
}
