// mixins

@import "/src/scss/mixins-pages/mixins-colors-and-types.scss";

// blocks

@import "/src/blocks/colors/colors";
@import "/src/blocks/types/types";

// styles

.logo-grey {
  position: absolute;
  left: 30px;
  top: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  min-width: 800px;
  height: 610px;
  margin: 145px auto auto auto;
  padding: 0 20px 20px 20px;
}
