include ../../mixins/iqdropdown/iqdropdown

.dropdown-rooms
  +iqdropdown('dropdown','default', "rooms", "", "Выберите удобства", 'rooms1', 'rooms2', 'rooms3', 'Спальни', "Кровати", 'Ванные комнаты')
  +iqdropdown('dropdown','expanded', "rooms", "menu-open", "Выберите удобства", 'rooms1', 'rooms2', 'rooms3', 'Спальни', "Кровати", 'Ванные комнаты')