@import "../../blocks/text-fields/text-fields.scss";
@import "../../blocks/hover-focus/hover-focus.scss";
@import "../../blocks/default/default.scss";
// @import "../../blocks/dropdown/dropdown.scss";
// @import "../../blocks/dropdown/item-quantity-dropdown.min.css";
@import "../../blocks/masked/masked.scss";
@import "../../blocks/filter-date-dropdown/dist/css/datepicker.min.css";
@import "../../blocks/filter-date-dropdown/filter-date-dropdown.scss";
@import "../../blocks/subscription/subscription.scss";

.form-elements__container {
  display: flex;
  justify-content: space-between;
}

.form-elements__container__column {
  margin-left: 20px;
  margin-top: 20px;
}
