@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@mixin Montserrat($weight, $size, $height) {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin Material($weight, $size, $height) {
  font-family: "Material Icons";
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin LineNone() {
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

@import "../../blocks/text-fields/text-fields.scss";
@import "../../blocks/hover-focus/hover-focus.scss";
@import "../../blocks/default/default.scss";
@import "../../blocks/dropdown/dropdown.scss";
@import "../../blocks/dropdown/item-quantity-dropdown.min.css";
@import "../../blocks/masked/masked.scss";
@import "../../blocks/date-dropdown/date-dropdown.scss";
@import "../../blocks/filter-date-dropdown/dist/css/datepicker.min.css";
@import "../../blocks/filter-date-dropdown/filter-date-dropdown.scss";
@import "../../blocks/subscription/subscription.scss";
@import "../../blocks/checkboxes/checkboxes.scss";

.form-elements__container {
  display: flex;
  justify-content: space-between;
}

.form-elements__container__column {
  margin: 20px;
}
