.registration 
  .registration__title 
    h1 Регистрация аккаунта
  .registration__person 
    .registration__name
      input.input(type="text" value="Имя")
    .registration__surname
      input.input(type="text" value="Фамилия")
    include ../radio-buttons/radio-buttons
    .registration__born 
      h3 Дата рождения
      .registration__datepicker
        input#calendar_born.input(type="text" value="ДД.ММ.ГГГГ")
  .registration__login 
    h3 Данные для входа в сервис
    .registration__email 
      input.input(type="text" value="Email")
    .registration__password 
      input.input.password(type="text" value="Пароль")
    .registration__offers 
      include ../toggle__block/toggle__block
    .registration__pay
      include ../btn-arrow/btn-arrow
      +btn-arrow("registration__btn-arrow")
    .registration__sign-in 
      p Уже есть аккаунт на Toxin
      a(href="/dist/html/sign-in.html")
        button.sign-in_btn