include ../../pug/bullet-list__items

.bullet-list 
  h3 bullet list 
  +bullet-list__items("bullet-list__items", "Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00")