.range-slider {
  width: 266px;
}

#slider {
  margin-top: 20px;
  width: 266px;
  height: 6px;
  box-shadow: none;
  border: 1px solid $dark-shade-25;
  box-sizing: border-box;
  border-radius: 3px;
  .noUi-base {
    height: 6px;
    top: -1px;
    .noUi-connect {
      background: linear-gradient(180deg, $green 0%, $green2 100%);
    }
    .noUi-handle {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 2px solid $background;
      background: linear-gradient(180deg, $green 0%, $green2 100%);
      right: -8px;
      top: -5px;
      box-shadow: none;
      &::before,
      &::after {
        display: none;
      }
    }
  }
}
