.feedback {
  width: 100%px;
  height: 140px;
  &__title {
    height: 50px;
    width: 280px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 15px;
  }
  &__avatar {
    width: 48px;
    height: 48px;
    img {
      width: 48px;
      height: 48px;
      border: none;
      border-radius: 24px;
      cursor: pointer;
      border: 2px solid #ffffff;
      box-sizing: border-box;
      filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
    }
  }
  &__user {
    margin-left: 10px;
  }
  &__name {
    @include Montserrat(bold, 14px, 24px);
    color: rgba(31, 32, 65, 0.75);
  }
  &__time {
    @include Montserrat(normal, 14px, 24px);
    color: rgba(31, 32, 65, 0.75);
  }
  &__description {
    display: flex;
    justify-content: start;
    // align-items: center;
    width: auto;
    height: auto;
  }
  &__like {
    display: flex;
    justify-content: center;
    width: 48px;
    margin-top: 3px;
  }
  &__desc {
    color: rgba(31, 32, 65, 0.75);
    @include Montserrat(normal, 14px, 24px);
    margin-left: 10px;
    width: auto;
  }
}
