.feedback
  .feedback__title 
    .feedback__avatar
      img(src="/commons/blocks/feedback/img/avatar.png", alt="avatar")
    .feedback__user 
      p.feedback__name Мурад Сарафанов
      p.feedback__time 5 дней назад
  .feedback__description 
    .feedback__like
      +like-button__container()
    .feedback__desc
      p Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.