include ../../pug/advantage

.advantages
  +advantage("insert_emoticon", "Комфорт", "Шумопоглощающие стены", "advantages__advantage")
  +advantage("location_city", "Удобство", "Окно в каждой из спален", "advantages__advantage")