.room-experience {
  width: 311px;
  height: 170px;
  h3 {
    @include Montserrat(bold, 19px, 23px);
    color: $dark-shade-100;
    margin-bottom: 20px;
  }
  #myChart {
    margin-left: -17px;
  }
  &__total {
    width: 65px;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -88px;
    margin-left: 35px;
  }
  .count {
    color: $purple;
    @include Montserrat(bold, 24px, 29px);
  }
  .item {
    color: $purple;
    @include Montserrat(bold, 12px, 15px);
  }
}
