extends ../../templates/header-and-footer

append head 
  title Регистрация аккаунта
  script(src="/commons/pages/registration/registration.js")
block container
  .container 
    include ../../blocks/registration/registration
