@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
header {
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 1160px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.v-line {
  border-left: 1px solid rgba(31, 32, 65, 0.1);
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.user {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 106px;
}

.logo-img {
  width: 40px;
  height: 40px;
}

.logo-name {
  width: 53px;
  height: 13px;
  margin-left: 12.5px;
}

.menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  color: rgba(31, 32, 65, 0.5);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu > li {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submenu {
  position: absolute;
  visibility: hidden;
  list-style-type: none;
  opacity: 0;
  padding-left: 0;
  margin-top: 18px;
  z-index: 5;
  min-width: 100px;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.submenu li {
  margin-top: 10px;
}

.menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
  background-color: #fff;
}

.menu svg {
  fill: rgba(31, 32, 65, 0.5);
  text-align: center;
  margin: auto;
}

.log-in_btn {
  width: 87px;
  height: 34px;
  color: #bc9cff;
  border: 2px solid;
  border-color: linear-gradient(180deg, #bc9cff, #8ba4f9);
  border-radius: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.7px;
  margin-left: 20px;
}

.sign-in_btn {
  width: 196px;
  height: 34px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff, #8ba4f9);
  border: none;
  border-radius: 22px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.7px;
  margin-left: 20px;
}

footer {
  width: 100%;
  height: 443px;
}

.footer {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-creative {
  width: 768px;
  height: 367px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-creative__copyright {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.footer-creative__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-creative__social a {
  margin-left: 10px;
  margin-right: 10px;
}

body {
  background: #e5e5e5;
  margin: 0;
  padding: 0;
  margin-top: 140px;
}

header {
  margin-bottom: 40px;
}

.menu__about {
  font-weight: 700;
  color: #1f2041;
  opacity: 0.75;
}

footer {
  margin-bottom: 40px;
}

.footer-creative {
  margin-bottom: 40px;
}
/*# sourceMappingURL=headers-and-footers.css.map */