include ../../mixins/advantage-item/advantage-item

.advantages 
  +advantage-item("insert_emoticon", "Комфорт", "Шумопоглощающие стены")
  +advantage-item("location_city", "Удобство", "Окно в каждой из спален")