include ../rating-area/rating-area

mixin room-card(number, price, feedback, i="", luxe="")
  .room-card
    div(class="room-card__photo" + "-" + number) 
      .room-card__slider 
        span.filled 
        span 
        span 
        span 
    .room-card__title 
      .room-card__number 
        h3 №
        h1= number
        h3.pink= luxe
      .room-card__price 
        p.bold= price + "₽"
        p в сутки
    .room-card__rating 
      +rating-area(i)
      .room-card__feedback
        p.bold= feedback
        p Отзывов