.checkbox-list__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @include Montserrat(bold, 12px, 15px);
  text-transform: uppercase;
  color: #1f2041;
  input:checked ~ .checkbox-list__checkmark::after {
    transform: rotate(225deg);
    transition: 0.5s cubic-bezier(0.4, 0, 0, 0.9);
  }
  input:checked ~ .checkbox-list__checkboxes {
    opacity: 1;
  }
  input:checked ~ .checkbox-list {
    height: 240px;
  }
  input:checked ~ .checkbox-list__container {
    height: 240px;
  }
  p {
    width: 222px;
  }
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
