@import "/src/blocks/checkbox-list/checkbox-list__container.scss";
@import "/src/blocks/checkbox-list/checkbox-list__checkboxes.scss";
@import "/src/blocks/checkbox-list/checkbox-list__checkmark.scss";

.checkbox-list {
  width: 266px;
  height: auto;
  margin-bottom: 20px;
  position: relative;
}
