.checkbox-list__container {
  input:checked ~ .checkbox-list__checkmark::after {
    transform: rotate(225deg);
    transition: 0.5s cubic-bezier(0.4, 0, 0, 0.9);
  }
  input:checked ~ .checkbox-list__checkboxes {
    opacity: 1;
  }
  input:checked ~ .checkbox-list {
    height: 240px;
  }
  input:checked ~ .checkbox-list__container {
    height: 240px;
  }
}
