.widgets 
  .widgets__container.container
    .widgets__column
      include ../logo/logo.pug
      p.widgets__description Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .widgets__column 
      ul 
        li.widgets__title.title Навигация
        li О нас
        li Новости
        li Служба поддержки
        li Услуги
    .widgets__column
      ul 
        li.widgets__title.title О нас
        li О сервисе
        li Наша команда
        li Вакансии
        li Инвесторы
    .widgets__column
      ul 
        li.widgets__title.title Служба поддержки
        li Соглашения
        li Сообщества
        li Связь с нами
    .widgets__column
      ul
        li.widgets__title.title Подписка
        li Получайте специальные предложения и новости сервиса
      .widgets__subscribe-input
        input(type="email" name="subscribe" value="Email") 