@import "../logo/logo.scss";
@import "../nav/nav.scss";
@import "../auth/auth.scss";

header {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 10px 20px $dark-shade-5;
  display: flex;
}

$hh: 70px;

.header {
  margin: auto;
  display: flex;
  height: $hh;
  width: 1160px;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
}

.right {
  display: flex;
  align-items: center;
  vertical-align: middle;
  .auth {
    margin-left: 20px;
  }
}

.author {
  display: flex;
  align-items: center;
}

.v-line {
  border-left: 1px solid rgba(31, 32, 65, 0.1);
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.user {
  @include Montserrat(normal, 14px, 17px);
  color: $dark-shade-50;
}
