// vars, mixins and fonts

@import "/src/scss/mixins/variables.scss";
@import "/src/scss/mixins/fonts.scss";
@import "/src/scss/mixins/scss-mixins.scss";

body {
  width: 100%;
}

// blocks

@import "/src/blocks/text-fields/text-fields.scss";
@import "/src/blocks/checkboxes/checkboxes.scss";
@import "/src/blocks/ranges-and-buttons/ranges-and-buttons.scss";
@import "/src/blocks/dropdown-rooms/dropdown-rooms.scss";
@import "/src/blocks/checkbox-list/checkbox-list.scss";
@import "/src/blocks/rich-checkbox-buttons/rich-checkbox-buttons.scss";
@import "/src/blocks/bullet/bullet.scss";
@import "/src/blocks/advantages/advantages.scss";
@import "/src/blocks/feedback/feedback.scss";

// classes

@import "/src/scss/title.scss";
@import "/src/scss/title_masked.scss";
@import "/src/scss/head.scss";
@import "/src/blocks/btn/btn.scss";
@import "/src/blocks/btn/btn_gradient.scss";
@import "/src/blocks/btn-arrow/btn-arrow.scss";
@import "/src/scss/container.scss";

.logo-grey {
  position: absolute;
  left: 30px;
  top: 30px;
}

.form-elements__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1158px;
  margin: auto;
  padding-top: 140px;
  padding-bottom: 140px;
}

.text-fields {
  margin-bottom: 100px;
}

.form-elements__column,
.form-elements__column-o,
.form-elements__column-1 {
  // padding: 20px;
  height: auto;
  width: 320px;
  // background: coral;
  // border: 3px solid green;
}

.form-elements__column-1 {
  width: 739px;
}

.dropdown-rooms {
  margin-bottom: 200px;
}

.rich-checkbox-buttons,
.bullet {
  margin-top: 15px;
}

.feedback {
  margin-top: 25px;
}
