@import "/src/scss/variables.scss";
@import "/src/scss/fonts.scss";
@import "/src/scss/scss-mixins.scss";

body {
  width: 100%;
}

@import "/src/blocks/text-fields/text-fields.scss";
@import "/src/blocks/checkboxes/checkboxes.scss";
@import "/src/blocks/ranges-and-buttons/ranges-and-buttons.scss";
@import "/src/blocks/dropdown-rooms/dropdown-rooms.scss";
@import "/src/blocks/checkbox-list/checkbox-list.scss";
@import "/src/blocks/rich-checkbox-buttons/rich-checkbox-buttons.scss";
@import "/src/blocks/bullet-list/bullet-list.scss";
@import "/src/blocks/advantages/advantages.scss";
@import "/src/blocks/feedback/feedback.scss";

.logo-grey {
  position: absolute;
  left: 30px;
  top: 30px;
}

.form-elements__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1158px;
  margin: auto;
  padding-top: 140px;
  padding-bottom: 140px;
}

.text-fields {
  margin-bottom: 100px;
}

.form-elements__container__column,
.form-elements__container__column-o,
.form-elements__container__column-1 {
  // padding: 20px;
  height: auto;
  width: 320px;
  // background: coral;
}

.form-elements__container__column-1 {
  width: 739px;
}

.dropdown-rooms {
  margin-bottom: 200px;
}

.rich-checkbox-buttons,
.bullet-list {
  margin-top: 15px;
}

.feedback {
  margin-top: 25px;
}
