.dropdown {
  &__title {
    &__left {
      @include Montserrat(bold, 12px, 15px);
      text-transform: uppercase;
      padding-bottom: 5px;
    }
  }
}

.dropdown > .iqdropdown {
  border: 1px solid rgba(31, 32, 65, 0.25);
  height: 44px;
  width: 320px;
}

.iqdropdown .iqdropdown-selection::after {
  background-image: none;
  content: "expand_more";
  @include Material(normal, 24px, 24px);
  color: rgba(31, 32, 65, 0.5);
  position: absolute;
  top: -2px;
  right: 6px;
}
.iqdropdown.menu-open .iqdropdown-selection::after {
  background-image: none;
  content: "expand_less";
  @include Material(normal, 24px, 24px);
  color: rgba(31, 32, 65, 0.5);
  position: absolute;
  top: -2px;
  right: 6px;
}

.iqdropdown.menu-open {
  height: 44px;
  width: 320px;
  @include LineNone();
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.iqdropdown.menu-open {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.iqdropdown .iqdropdown-item-controls button.button-decrement {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  padding: 0;
  display: block;
  &::after {
    content: "-";
    @include Montserrat(normal, 18px, 22px);
    color: rgba(31, 32, 65, 0.5);
  }
}
.iqdropdown .iqdropdown-item-controls button.button-increment {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  padding: 0;
  display: block;
  &::after {
    content: "+";
    @include Montserrat(normal, 18px, 22px);
    color: rgba(31, 32, 65, 0.5);
  }
}

.iqdropdown .icon-decrement,
.icon-decrement.icon-increment {
  display: none;
  &::after {
    display: none;
  }
}

.iqdropdown .iqdropdown-item-controls .counter {
  border: none;
}

.iqdropdown .iqdropdown-item-controls {
  width: 92px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  .counter {
    padding: 0;
    @include Montserrat(bold, 12px, 15px);
    text-align: center;
    align-items: center;
    display: flex;
    color: #1f2041;
  }
}

.iqdropdown-item {
  @include Montserrat(bold, 12px, 15px);
  color: #1f2041;
  text-transform: uppercase;
}

.iqdropdown .iqdropdown-menu {
  top: 44px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: none;
  filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.05));
  &-option {
    height: 38px;
  }
}

.iqdropdown .iqdropdown-selection {
  @include Montserrat(normal, 14px, 18px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
}

.button-block {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  .clear-button {
    padding-left: 15px;
    @include Montserrat(bold, 12px, 15px);
    color: #bc9cff;
    text-transform: uppercase;
    padding-bottom: 15px;
    width: 160px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
  .apply-button {
    padding-right: 15px;
    @include Montserrat(bold, 12px, 15px);
    color: #bc9cff;
    text-transform: uppercase;
    padding-bottom: 15px;
    width: 160px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
  }
}
