.like-button
  h3 like button 
  label.like-button__container
    input(type='checkbox')     
    span.like-button__checkmark
  label.like-button__container 
    input(type='checkbox')
    span.like-button__checkmark