.subscription
  .subscription__head.head 
    h3.subscription__title.title subscription text field
  .subscription__input
    input(type="email" name="subscribe" value="Email") 
    button(type="submit") arrow_forward
      