@import "/src/scss/color.scss";

.colors {
  width: 285px;
  .color {
    &__ds100 {
      background: $dark-shade-100;
    }
    &__ds75 {
      background: $dark-shade-75;
    }
    &__ds50 {
      background: $dark-shade-50;
    }
    &__ds25 {
      background: $dark-shade-25;
    }
    &__ds5 {
      background: $dark-shade-5;
    }
    &__purple {
      background: $purple;
    }
    &__green {
      background: $green;
    }
  }
}
