include ../color/color

.colors 
  +color('Dark Shade 100%', '#1F2041', "color__ds100")
  +color('Dark Shade 75%', '#1F2041', "color__ds75")
  +color('Dark Shade 50%', '#1F2041', "color__ds50")
  +color('Dark Shade 25%', '#1F2041', "color__ds25")
  +color('Dark Shade 5%', '#1F2041', "color__ds5")
  +color('Purple', '#BC9CFF', "color__purple")
  +color('Green', '#6FCF97', "color__green")