.bullet-list 
  h3 bullet list 
  ul.bullet-list__items
    li 
      span.item
      p.title Нельзя с питомцами
    li 
      span.item
      p.title Без вечеринок и мероприятий
    li 
      span.item
      p.title Время прибытия — после 13:00, а выезд до 12:00