.masked {
  width: 320px;
  height: 65px;
  &__input {
    input {
      @include LineNone();
      width: 320px;
      height: 44px;
      border: 1px solid $dark-shade-25;
      box-sizing: border-box;
      border-radius: 4px;
      @include Montserrat(normal, 14px, 18px);
      color: $dark-shade-25;
      padding-left: 15px;
    }
  }
}
