.btn-arrow {
  width: 320px;
  height: 44px;
  padding: auto;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  border-radius: 22px;
  a {
    display: flex;
    text-decoration: none;
  }
  &__button {
    width: 276px;
    height: 44px;
    background: linear-gradient(180deg, $purple, $purple2);
    border: none;
    border-radius: 22px 0 0 22px;
  }
  &__arrow {
    @include Material(normal, 24px, 24px);
    color: $text-dark-bcg;
    background-color: transparent;
    border: none;
    width: 44px;
    height: 44px;
    background: linear-gradient(180deg, $purple, $purple2);
    border: none;
    border-radius: 0 22px 22px 0;
  }
}
