.checkbox-buttons
  h3 checkbox buttons 
  label.checkbox-buttons__container
    input(type='checkbox')     
    span.checkbox-buttons__checkmark
    p Можно курить
  label.checkbox-buttons__container 
    input(type='checkbox')
    span.checkbox-buttons__checkmark
    p Можно с питомцами
  label.checkbox-buttons__container 
    input(type='checkbox')  
    span.checkbox-buttons__checkmark
    p Можно пригласить гостей (до 10 человек)