.checkbox-buttons
  h3 checkbox buttons 
  label.container
      input(type='checkbox')     
      span.checkmark
      p Можно курить
  label.container 
      input(type='checkbox')
      span.checkmark
      p Можно с питомцами
  label.container 
      input(type='checkbox')  
      span.checkmark
      p Можно пригласить гостей (до 10 человек)