.room-cancellation {
  width: 340px;
  height: 140px;
  h3 {
    color: #1f2041;
    @include Montserrat(bold, 19px, 23px);
  }
  p {
    @include Montserrat(normal, 14px, 24px);
    color: rgba(31, 32, 65, 0.75);
    margin-top: 20px;
  }
}
