style 
  include findroom__form.css
.form
  .form__date
    include arrival/arrival
    include departure/departure
  include residents/residents
  button.form__button Подобрать номер
    img(src="/pug/UIKit/cards/findroom/findroom__form/img/arrow_forward-white.svg", alt="")