extends ../../pug/layouts/layout

append head 
  title Найдём номера под ваши пожелания
  script(src="/src/pages/index/index.js")
block container
  .container.container_index-mode
    include ../../blocks/findroom/findroom.pug
