@import "/src/scss/variables.scss";
@import "/src/scss/fonts.scss";
@import "/src/scss/scss-mixins.scss";
@import "/src/blocks/header/header.scss";
@import "/src/blocks/findroom/findroom.scss";
@import "/src/blocks/footer/footer.scss";

body {
  background-image: url(/src/img/main-bcg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1160px;
  height: 93vh;
  display: flex;
  justify-content: start;
  margin: auto;
  padding-top: 70px;
  padding-left: 20px;
}
