extends ../../pug/header-and-footer

append head 
  title Найдём номера под ваши пожелания
  script(src="/src/pages/index/index.js")
block container
  .container 
    include ../../blocks/findroom/findroom.pug
