// mixins

@import "/src/scss/mixins-pages/mixins-index.scss";

// blocks

@import "/src/blocks/header/header.scss";
@import "/src/blocks/findroom/findroom.scss";
@import "/src/blocks/footer/footer.scss";

body {
  background-image: url(/src/img/main-bcg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container_index-mode {
  height: 93vh;
  justify-content: start;
  margin: auto;
  padding-top: 70px;
  padding-left: 20px;
}
