@import "/src/blocks/btn/btn.scss";
@import "/src/blocks/btn/btn_gradient.scss";
@import "/src/blocks/buttons/buttons__flex.scss";
@import "/src/blocks/buttons/buttons__btn.scss";
@import "/src/blocks/buttons/buttons__btn_hover.scss";
@import "/src/blocks/buttons/buttons__link.scss";
@import "/src/blocks/buttons/buttons__btn-arrow.scss";

.buttons {
  width: 220px;
  margin-bottom: 30px;
  h3 {
    @include Montserrat(bold, 12px, 15px);
    color: #1f2041;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
}
