include ../btn-arrow/btn-arrow
.buttons 
  h3 buttons 
  .buttons__flex 
    a.btn.btn_gradient.buttons__btn click me
    a.btn.btn_gradient.buttons__btn.buttons__btn_hover click me
    a.btn.buttons__btn click me
    a.btn.buttons__btn.buttons__btn_hover click me
  .buttons__flex
    a.buttons__link click me 
    a.buttons__link(disabled="disabled") click me
+btn-arrow("buttons__btn-arrow")