.buttons__link {
  text-decoration: none;
  @include Montserrat(bold, 12px, 15px);
  text-transform: uppercase;
  color: #bc9cff;
  margin-right: 20px;
  &[disabled="disabled"] {
    color: rgba(31, 32, 65, 0.5);
  }
}
