.buttons 
  h3 buttons 
  .buttons__flex 
    button.btn1 click me
    button.btn2 click me
    button.btn3
    .btn4 
      button.btn4
      span click me
  .buttons__flex
    a.link(href="#") click me 
    a.link(href="#" disabled="disabled") click me
include ../pay-button/pay-button