.rich-checkbox-buttons__container {
  display: flex;
  user-select: none;
  margin-bottom: 10px;
  flex-wrap: wrap;
  cursor: pointer;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked ~ .rich-checkbox-buttons__checkmark {
      border: 1px solid $purple;
      &::after {
        display: block;
      }
    }
  }

  p {
    @include Montserrat(bold, $checkbox-item-fs, $checkbox-item-lh);
    color: $dark-shade-75;
    width: auto;
    &.desc {
      color: $dark-shade-50;
      @include Montserrat(normal, $checkbox-desc-fs, $checkbox-desc-lh);
      margin-left: 30px;
      margin-top: 5px;
    }
  }
}
.rich-checkbox-buttons__checkmark {
  width: 20px;
  height: 20px;
  display: block;
  background: $background;
  border: 1px solid $dark-shade-25;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 4px;
    width: 6px;
    height: 8px;
    border: solid $purple;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
