@import "/src/scss/mixins-pages/mixins-room-details.scss";

.room {
  &__photo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 485px;
    width: 100%;
    .bigger {
      height: 100%;
      width: 70%;
      // position: relative;
      background-image: url(/src/img/photo1.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .smaller {
      // position: relative;
      height: 50%;
      width: 30%;
      background-image: url(/src/img/photo2.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      &:last-child {
        background-image: url(/src/img/photo3.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
  &__info {
    width: 1160px;
    min-height: 800px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 70px;
    margin-bottom: 70px;
    padding-left: 10px;
    padding-right: 10px;
    &__details {
      width: 720px;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-right: 40px;
    }

    &__card {
      width: 380px;
      height: 100%;
    }
  }
  &-reviews {
    margin-bottom: 30px;
    margin-top: 15px;
  }
}
