include ../../mixins/rate-button/rate-button

.room-card
  .room-card__photo 
    .room-card__slider 
      span.filled 
      span 
      span 
      span 
  .room-card__title 
    .room-card__number 
      h3 №
      h1 888
      h3.pink люкс
    .room-card__price 
      p.bold 9 990₽
      p в сутки
  .room-card__rating 
    +rate-button
    .room-card__feedback
      p.bold 145
      p Отзывов

.room-card
  .room-card__photo-1 
    .room-card__slider 
      span.filled 
      span 
      span 
      span 
  .room-card__title 
    .room-card__number 
      h3 №
      h1 840
      //- h3.pink люкс
    .room-card__price 
      p.bold 9 990₽
      p в сутки
  .room-card__rating 
    .rating-area 
      input#star-51(type="radio" name="rating1" value="5")
      label(for="star-51" title="Оценка 5") 
      input#star-41(type="radio" name="rating1" value="4")
      label(for="star-41" title="Оценка 4") 
      input#star-31(type="radio" name="rating1" value="3")
      label(for="star-31" title="Оценка 3") 
      input#star-21(type="radio" name="rating1" value="2")
      label(for="star-21" title="Оценка 2") 
      input#star-11(type="radio" name="rating1" value="1")
      label(for="star-11" title="Оценка 1")
    .room-card__feedback
      p.bold 65
      p Отзывов