include ../../mixins/rate-button/rate-button

.room-card
  .room-card__photo 
  .room-card__title 
    .room-card__number 
      h3 №
      h1 888
      h3.pink люкс
    .room-card__price 
      p.bold 9 990₽
      p в сутки
  .room-card__rating 
    +rate-button
    .room-card__feedback
      p.bold 145
      p Отзывов