@import "/src/scss/datepicker-style.scss";
@import "/src/blocks/date-dropdown/date-dropdown__box.scss";
@import "/src/blocks/date-dropdown/date-dropdown__field.scss";

.date-dropdown {
  width: 320px;
  height: 65px;
  display: flex;
  justify-content: space-between;
}
