include ../../pug/date-dropdown__box

.date-dropdown
  +date-dropdown__box("прибытие", "from")(class="doubleDatepicker" value="ДД.ММ.ГГГГ" type="text" id="btn_from")
  +date-dropdown__box("выезд", "to")(class="doubleDatepicker" value="ДД.ММ.ГГГГ" type="text" id="btn_to")