.hover-focus 
  .hover-focus__head.head
    h3.hover-focus__title.title text field
    h3.hover-focus__title_masked.title_masked hover / focus
  .hover-focus__input
    input(type="text" value="This is pretty awesome")