$bold-f: "Montserrat-bold", sans-serif;
$normal-f: "Montserrat-normal", sans-serif;

$bold-fw: bold;
$normal-fw: normal;

$h1-fs: 24px;
$h1-lh: 29px;

$h2-fs: 19px;
$h2-lh: 23px;

$h3-fs: 12px;
$h3-lh: 15px;

$p-fs: 14px;
$p-lh: 24px;

$checkbox-item-fs: 14px;
$checkbox-item-lh: 18px;

$checkbox-desc-fs: 12px;
$checkbox-desc-lh: 14px;

$dark-shade-100: #1f2041;
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-5: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;
