@import "/src/blocks/date-dropdown/date-dropdown.scss";
@import "/src/blocks/filter-date-dropdown/dist/css/datepicker.min.css";
@import "/src/blocks/dropdown/dropdown.scss";
@import "/src/blocks/findroom-button/findroom-button.scss";
@import "../../blocks/filter-date-dropdown/filter-date-dropdown.scss";

.form {
  width: 100%;
  height: 150px;
}

.date-dropdown {
  margin-top: 20px;
  margin-bottom: 20px;
}

.findroom-button {
  margin-top: 30px;
}
