include ../bullet-list/bullet-list

.room-rules 
  h3.h3_size_big.room-rules__title Правила
  +bullet-list("room-rules__bullet-list", "Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00")