include ../../pug/bullet-list

.room-rules 
  h3 Правила
  +bullet-list("room-rules__bullet-list", "Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00")