@import "/src/blocks/hover-focus/hover-focus.scss";
@import "/src/blocks/default/default.scss";
@import "/src/blocks/dropdown/dropdown.scss";
@import "/src/blocks/dropdown/item-quantity-dropdown.min.css";
@import "/src/blocks/masked/masked.scss";
@import "/src/blocks/date-dropdown/date-dropdown.scss";
@import "/src/blocks/filter-date-dropdown/dist/css/datepicker.min.css";
@import "/src/blocks/filter-date-dropdown/filter-date-dropdown.scss";
@import "/src/blocks/subscription/subscription.scss";

.text-fields {
  width: 320px;
  .default,
  .hover-focus,
  .dropdown {
    margin-bottom: 20px;
  }
  .masked,
  .date-dropdown,
  .filter-date-dropdown {
    margin-bottom: 40px;
  }
}
