//- head
//-   link(rel="stylesheet", href="/commons/blocks/filter-date-dropdown/dist/css/datepicker.min.css")
.filter-date-dropdown 
      h3 filter date dropdown
      form.filter-date-dropdown__field
        input#calendar(type='text', value='ДД.ММ.ГГГГ')
        button#btn_calendar(type="button")
          img(src='/commons/blocks/findroom-form/img/expand_more.svg')

        //- input#calendar(type='text' value="ДД.ММ.ГГГГ")
//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
//- script(src="/commons/blocks/filter-date-dropdown/dist/js/datepicker.min.js")
//- script(src="/commons/blocks/filter-date-dropdown/filter-date-dropdown.js")