@import "/src/blocks/rich-checkbox-button/rich-checkbox-button.scss";

.rich-checkbox-buttons {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  width: 266px;
  h3 {
    color: #1f2041;
    @include Montserrat(bold, 12px, 15px);
    text-transform: uppercase;
    margin-bottom: 17px;
  }
}
