include ../../pug/rich-checkbox-button

.rich-checkbox-buttons
  h3 rich checkbox buttons 
  +rich-checkbox-button("Широкий коридор","Ширина коридоров в номере не менее 91 см.")
  +rich-checkbox-button("Помощник для инвалидов","На 1 этаже вас встретит специалист и проводит до номера.")