include ../rich-checkbox-button/rich-checkbox-button

.rich-checkbox-buttons
  .head.rich-checkbox-buttons__head
    h3.title.rich-checkbox-buttons__title rich checkbox buttons 
  +rich-checkbox-button("Широкий коридор","Ширина коридоров в номере не менее 91 см.")
  +rich-checkbox-button("Помощник для инвалидов","На 1 этаже вас встретит специалист и проводит до номера.")