@import "/src/blocks/rich-checkbox-button/rich-checkbox-button.scss";

.rich-checkbox-buttons {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  width: 266px;
  &__head {
    margin-bottom: 16px;
  }
}
