.footer-creative
  include ../logo/logo
  p.footer-creative__copyright Copyright © 2018 Toxin отель. Все права защищены.
  .footer-creative__social.social
    a(href="https://twitter.com/")
      img(src="/src/blocks/copyright-bar/img/twitter.svg", alt="twitter") 
    a(href="https://www.facebook.com/")
      img(src="/src/blocks/copyright-bar/img/facebook.svg", alt="facebook") 
    a(href="https://www.instagram.com/")
      img(src="/src/blocks/copyright-bar/img/instagram.svg", alt="instagram") 