include ../btn/btn
.log-in 
  .log-in__title 
    h1.h1-title Войти
  .log-in__form 
    .log-in__email
      input.input(value="Email" type="Email")
    .log-in__password
      input.input(value="Пароль" type="text")
  include ../log-in-button/log-in-button
  .log-in__registration 
    p Нет аккаунта на Toxin?
    +btn("log-in__reg-btn", "/dist/html/registration.html", "Создать")