@import "/src/blocks/log-in-button/log-in-button.scss";

.log-in {
  width: 380px;
  height: 358px;
  background-color: $background;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
  &__title {
    width: 100%;
    margin-bottom: 20px;
  }
  &__form {
    margin-bottom: 20px;
  }
  &__email {
    @include input();
    margin-bottom: 10px;
  }
  &__password {
    @include input();
  }
  &__registration {
    width: 320px;
    @include Montserrat(normal, 14px, 18px);
    color: $dark-shade-100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  &__reg-btn {
    width: 99px;
    height: 44px;
  }
}
