@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@mixin Montserrat($weight, $size, $height) {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin Material($weight, $size, $height) {
  font-family: "Material Icons";
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin LineNone() {
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

@mixin input($width: 320px) {
  .input {
    width: $width;
    height: 44px;
  }
  input {
    @include LineNone();
    width: 100%;
    height: 100%;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    @include Montserrat(normal, 14px, 18px);
    color: rgba(31, 32, 65, 0.25);
    padding-left: 15px;
    &:hover {
      border: 1px solid rgba(31, 32, 65, 0.5);
      color: rgba(31, 32, 65, 0.75);
    }
    &:focus {
      border: 1px solid rgba(31, 32, 65, 0.5);
      color: rgba(31, 32, 65, 0.75);
    }
  }
}

@import "../../blocks/findroom/findroom.scss";
@import "../../blocks/registration/registration.scss";
@import "../../blocks/room-reservation/room-reservation.scss";
@import "../../blocks/log-in/log-in.scss";
@import "../../blocks/datepicker/datepicker.scss";
@import "../../blocks/room-card/room-card.scss";

body {
  background-color: #e5e5e5;
}

.logo-grey {
  position: absolute;
  left: 30px;
  top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  // flex: ;
  margin: auto;
  align-items: center;
  box-sizing: border-box;
  width: 1200px;
  height: 1140px;
  margin-top: 130px;
}

.findroom,
.registration,
.room-reservation,
.log-in,
.datepicker-here,
.room-card {
  margin: 20px;
}
