@import "/src/scss/mixins-pages/mixins-registration.scss";

.container_registration-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/src/img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .registration {
    margin-bottom: 20px;
    margin-top: 20px;
    .pay-button::after {
      content: "Зарегистрироваться";
    }
  }
}

.footer {
  border-top: none;
}
