extends ../../pug/layouts/layout
append head 
  title Регистрация аккаунта
  script(src="/src/pages/registration/registration.js")
block container
  .container 
    include ../../blocks/registration/registration
