@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@mixin Montserrat($weight, $size, $height) {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}
@import "../../blocks/colors/colors";
@import "../../blocks/types/types";

.logo-grey {
  position: absolute;
  left: 30px;
  top: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  height: 610px;
  margin: 145px auto auto auto;
}
