include ../like-button/like-button
mixin feedback(img, name, time, desc, classname="")
  .feedback(class= classname)
    .feedback__title 
      .feedback__avatar
        img(src= img, alt="avatar")
      .feedback__user 
        p.feedback__name= name
        p.feedback__time= time
    .feedback__description 
      .feedback__like
        +like-button
      .feedback__desc
        p= desc