.checkbox-button {
  display: flex;
  user-select: none;
  margin-bottom: 10px;
  cursor: pointer;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked ~ .checkbox-button__checkmark {
      border: 1px solid #bc9cff;
      &::after {
        display: block;
      }
    }
  }

  p {
    @include Montserrat(normal, 14px, 18px);
    color: rgba(31, 32, 65, 0.5);
    width: 192px;
  }
}
.checkbox-button__checkmark {
  width: 20px;
  height: 20px;
  display: block;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 4px;
    width: 6px;
    height: 8px;
    border: solid #bc9cff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
