.pagination
  h3 pagination
  .pagination__block 
    .pagination__pages 
      .pagination__start 
        p 1
      p 2
      p 3
      p ...
      p 15
      .pagination__arrow 
        p arrow_forward
    .pagination__description
      p 1 – 12 из 100+ вариантов аренды