style 
  include findroom.css 
.findroom 
  .findroom__title
    h1 Найдём номера под ваши пожелания
  .findroom__arrival 
    h3 Прибытие
    .findroom__arrival__dropdown
  .findroom__departure
    h3 Выезд
    .findroom__departure__dropdown
  .findroom__residents 
    h3 Гости
    .findroom__residents__dropdown
  .findroom__button