.like-button {
  display: flex;
  user-select: none;
  cursor: pointer;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked ~ .like-button__checkmark {
      border: 1px solid $purple;
      &::before {
        color: $purple;
        content: "favorite";
      }
      &::after {
        content: "3";
        color: $purple;
      }
    }
  }
  &__checkmark {
    display: flex;
    align-items: center;
    width: 40px;
    height: 20px;
    background: $background;
    border: 1px solid $dark-shade-25;
    box-sizing: border-box;
    border-radius: 10px;
    &::before {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      left: 3px;
      content: "favorite_border";
      @include Material(normal, 10px, 9px);
      color: $dark-shade-25;
    }
    &::after {
      display: flex;
      align-items: center;
      justify-content: center;
      right: 3px;
      content: "2";
      @include Montserrat(normal, 10px, 12px);
      color: $dark-shade-25;
    }
  }
}
