include ../like-button/like-button

.uikit-like-button
  .head.uikit-like-button__head
    h3.title.uikit-like-button__title like button
  +like-button("uikit-like-button__like-button")
  +like-button("uikit-like-button__like-button")