@import "/src/blocks/btn/btn.scss";
@import "/src/blocks/btn/btn_gradient.scss";

.auth {
  display: flex;
  justify-content: space-between;
  width: 300px;
  &__registration {
    width: 196px;
  }
  &__sign-in {
    width: 87px;
  }
}
