@import "/src/scss/btn.scss";
@import "/src/scss/btn_gradient.scss";
@import "/src/blocks/auth/auth__sign-in.scss";
@import "/src/blocks/auth/auth__registration.scss";

.auth {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
